
.navbar-brand{
  height: 63px;  
}

.logo{
  height: inherit;  
}

.custom-img {
  height: 100vh;
  object-fit: cover;
}

.footer-style {
  background-color: #101018f8;
  color: #fff;
  font-size: 1.5em;
  border: 2px solid #101018f8;
  border-top-left-radius: 3px;
}


 a{
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  color:white !important;
  border-top:0.18rem solid var(--primary-dark)
}

a.main-nav-active{
  color:orange !important;
}
/* .navbar-nav>li>a.active:focus{
  border-top:0.18rem solid var(--primary-orange)
}
.navbar-nav>li>a:hover{
  border-top:0.18rem solid var(--primary-orange)
} */