.body {
  background: black;
  /* font-family: "Montserrat", sans-serif; */
  font-size: 16px;
  /* color: rgb(53, 53, 53); */
}
 
/* 
.navbar-brand{
  height: 63px;  
} */

.logo{
  height: 63px;  
}



.custom-img {
  height: 100vh;
  object-fit: cover;
}

.container-box {
  width: 80%;
  background-color: transparent;
  position: relative;
  z-index: 9;
}

 a{
  margin-left: 1rem !important;
  margin-right: 1rem !important;
  color:white !important;
  margin: 5px;
  text-decoration: none;
  /* border-top:0.18rem solid white!important; */
}

a.main-nav-active{
  /* color:orange !important; */
  text-decoration: none !important;
  border-bottom:0.18rem solid white !important
}
/* a.active:focus{
  border-top:0.18rem solid white !important
}*/
a:hover{
    color:rgb(136, 135, 132) !important;
  text-decoration: none !important; 
   /*border-bottom:0.18rem solid white !important */
} 

.footer-style {
  background-color: #101018f8;
  color: #fff;
  font-size: 1.5em;
  border: 2px solid #101018f8;
  border-top-left-radius: 3px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
